header.header
      nav
        ul.menu.container
          li.logo
            a(href='#')
              img(src='img/logo.svg', alt='logo')
          li.item
            a(href='#') FAQ
          li.item
            a(href='#') Оплата и доставка
          li.item
            a(href='#') Возврат
          li.item
            a(href='#') Исследования
          li.item
            a(href='#') Личный кабинет
          li.item
            a(href='#') 8 8 (800) 600-09-90
          li.item.button
            a(href='#')
              img(src='img/basket.svg', alt='basket')
          li.toggle
            span.bars