section.main-section
        .container.main__container
          .main__container-first
            div
              h1 АКТИВИРУЙ <br /> ИММУНИТЕТ!
              p Всего пять секунд в день помогут укрепить иммунитет <br /> и повысить защитные силы организма
            div
              h2 NOOTRIS ПОМОГАЕТ
              p Вашему организму во время пандемии <br /> и сезонных простуд
          .main__container-second
            img(src='img/preparat.png', alt='')