section.second-section
    .container.second__container
        h2.second__container-title ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА <br /> <span> СО СКИДКОЙ -15% ПЕРВЫМ! </span>
        p.discount <span> 750₽ </span> 690₽;
        .product
            .small-item
                img(src='img/ginger.png', alt='ginger')
                p Содержит <span> имбирь</span>
            .big-item
                img(src='img/nootris.png', alt='nootris')
                p + Бесплатная доставка <span> Специальная цена </span>
                
            .small-item
                img(src='img/virus.png', alt='virus')
                p Нейтрализует <span> вирусы </span>  

        button Оформить заказ!