@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

nav {
    background: #222;
    padding: 7px 15px;
}

.menu li {
    font-size: 1rem;
    padding: 15px 10px;
    white-space: nowrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
    padding: 0;
    margin-bottom: 7px;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 25px;
}

.bars:after,
.bars:before {
    background: #999;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.bars:before {
    top: 7px;
}

.bars:after {
    top: -7px;
}

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button a {
        padding: 7.5px;
    }
}

@media all and (min-width: 992px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
        margin-left: 20px;
    }

    .menu li.item {
        padding: 15px 5px;
    }

    .menu li.button {
        padding-right: 0;
    }

    .menu li.logo {
        padding: 0;
    }
}
