@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@import 'header.scss' ;
@import 'main-section.scss';
@import 'second-section.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;

}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}